<!DOCTYPE html>
<html lang="en">

{% load i18n l10n %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Made in Blr{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/site/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site/style.css">
    <link rel="stylesheet" href="/static/css/site/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <script src="/static/js//modernizr-2.6.2.min.js"></script>
    <script src="/static/js/jquery-2.0.2.min.js"></script>

</head>
<body>
<section class="hero">
{% block header %}
    <div class="hero__top">
            <div class="col-md-3 col-sm-2 col-xs-2">
                <a href="/"><img src="/static/img/temporary%20logo.png"/></a>
            </div>
            <div class="col-md-5 col-sm-8 col-xs-9 text-center">
                    <div class="hero__search">
                        <form action="{% url 'home-view-url' %}" method="post">{% csrf_token %}
                        <input type="text" name="search" placeholder="Search for any startup">
                        </form>
                        <i class="ion-ios-search-strong"></i>
                    </div>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-1 text-right hero__action">
                    <button type="submit" onclick="location.href='{{ LOGIN_URL }}'" class="actionButton  show-btn">SIGN IN</button>
                    <button type="submit" onclick="location.href='{{ SIGNUP_URL }}'" class="actionButton  show-btn">SIGN UP</button>
                <i class="ion-navicon-round visible-xs visible-sm"></i>
            </div>
    </div>
{% endblock %}

{% block container %}
    <div class="hero__bottom">
        {% include "listing_page_template.html" %}
    </div>
{% endblock %}

{% block footer %}
    <div class="hero__bottom__pages">
    {% if objlist %}
        {% include 'records_pagination_page.html' %}
    {% endif %}
    </div>
    <div class="hero__footer">
        <div class="col-md-7">
            EULA Disclamer Privacy
        </div>
        <div class="col-md-5 hero__footer--grey">
            2014-2015 An Initiative of Hostra Systems Pvt Ltd. All Rights Reserved.
        </div>
    </div>
{% endblock %}
</section>


</body>
</html>